<div class="chart-container">
  <div style="text-align: center;">
    <div class="controls">
      <label for="graphSelect">Select Graph:</label>
      <select id="graphSelect" [(ngModel)]="selectedPair" >
        <option value="" disabled selected>Select a pair</option>
        <option *ngFor="let pair of currencyPairs" [value]="pair.val">
          {{ pair.name }}
        </option>
      </select>
    </div>
  
    <div *ngIf="displayText">
      <p>{{ displayText }}</p>
    </div>
    
    <div id="chart" *ngIf="!displayText"></div>
</div>
  