* {
    margin: auto;
}
.profitCharts {
    width: 100%;
    /* height: 380px; */
    display: flex;
}
#chart {
    width: 80%;
    height: 380px;
}
#avgProfitLossChart, #winLossChart {
    height: 400px;
}