<div class="chart-display">
  <div style="text-align: center;">
    <div class="controls">
      <label for="graphSelect">Select Graph:</label>
      <select id="graphSelect" [(ngModel)]="selectedPair" >
        <option value="" disabled selected>Select a pair</option>
        <option *ngFor="let pair of currencyPairs" [value]="pair.val">
          {{ pair.name }}
        </option>
      </select>
    </div>
  
    <div *ngIf="displayText">
      <p>{{ displayText }}</p>
    </div>

    <h2 *ngIf="!displayText">{{selectedPair}} with 5-8-13 Moving Averages</h2>
    <div id="chart" *ngIf="!displayText"></div>
    <div class="profitCharts" *ngIf="!displayText">
      <div>
        <!-- <h2 *ngIf="!displayText">Average Profit vs. Average Loss per Trade</h2> -->
        <div id="avgProfitLossChart" *ngIf="!displayText"></div>
      </div>
      <div>
        <!-- <h2 *ngIf="!displayText">Win vs. Loss Distribution</h2> -->
        <div id="winLossChart" style="width: 100%; height: 400px;"></div>
      </div>
    </div>
</div>